/* Reset and base styles */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --base-100: #181717;
  --base-200: #292725;
  --base-300: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Host Grotesk", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero {
  width: 100%;
  height: 100svh;
  padding: 1rem;
  position: relative;
  background-color: var(--base-100);
}

.hero-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4rem;
  overflow: hidden;
}

.hero-img {
  position: absolute;
  transform: scale(1.5);
  will-change: transform;
  width: 100%;
  height: 100%;
}

.hero-content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2rem;
  color: var(--base-300);
}

.header h1 {
  font-size: 12rem;
  font-weight: 500;
  letter-spacing: -0.25rem;
  line-height: 1;
}

.hero-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-footer h3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1;
  width: 25%;
}

.hero-footer p {
  text-align: right;
  width: 25%;
  opacity: 0.5;
}

.contact-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.menu-btn {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.btn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
  padding: 0.25rem 0.25rem 0.25rem 1.5rem;
  border-radius: 50px;
  background-color: var(--base-300);
  color: var(--base-100);
  will-change: transform;
}

.btn-icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--base-100);
  color: var(--base-300);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  border-radius: 100%;
}

.btn-label span {
  font-size: 0.9rem;
  font-weight: 450;
  line-height: 1;
}

.preloader-progress,
.preloader-mask,
.preloader-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  pointer-events: none;
}

.preloader-progress {
  background-color: var(--base-200);
  z-index: 1;
  will-change: opacity;
}

.preloader-progress-bar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  width: 55%;
  height: 100%;
  background-color: var(--base-300);
  transform-origin: left;
  will-change: transform;
}

.preloader-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--base-300);
  width: 100%;
  text-align: center;
  mix-blend-mode: difference;
  z-index: 2;
}

.preloader-logo h1 {
  position: relative;
  color: var(--base-300);
  font-size: 3rem;
  font-weight: 500;
  line-height: 1;
}

.preloader-mask {
  background-color: var(--base-100);
  mask:
    linear-gradient(var(--base-300), var(--base-300)),
    url("/mask.svg") center/50% no-repeat;
  mask-composite: subtract;
  will-change: transform;
  z-index: 1;
}
